.realm {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 5%;
}

.realm-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  aspect-ratio: 1;
  background-color: #fceeb4;
  align-items: center;
  justify-content: center;
}

.straight-circle-cardarea {
  width: 85%;
  height: auto;
  margin-top: 5%;
}

.straight-circle-cardarea img {
  width: 100%;
  border: 1px solid #4e1a0e;
  margin-top: -5%;
  z-index: 0;
}

.realm-right {
  width: 60%;
  margin-left: 7%;
  margin-right: 15%;
}
