.welcome {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome_left {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcome_left img {
  width: 60%;
  margin-top: -15%;
}

.welcome_middle {
  text-align: center;
  width: 50%;
  height: auto;
  padding: 0;
  margin: 0;
}

.welcome_middle h2 {
  margin-bottom: 0;
}

.welcome_bottom {
  width: 100%;
}

.welcome_bottom_picarea {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.underline04 {
  width: 30%;
  margin-left: -5%;
}

.underline04 img {
  width: 100%;
  height: auto;
}

.group1 {
  width: 20%;
}

.group1 img {
  width: 100%;
  height: auto;
}

.welcome_right {
  width: 20%;
  height: auto;
  margin-left: 5%;
}

.welcome_right img {
  width: 80%;
  margin: 0;
}
