.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 404.61px;
}

.welcome_left {
  width: 215px;
  height: auto;
  margin-right: 15%;
}

.welcome_middle {
  text-align: center;
  width: 645px;
  height: 305px;
  padding: 0;
  margin: 0;
}

.underline04 {
  margin-right: 20px;
}

.underline04 img {
  width: 237px;
  height: auto;
}

.group1 {
  margin-left: 205px;
}

.group1 img {
  width: 125px;
  height: auto;
}

.welcome_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -70px;
  margin-bottom: -35px;
}

.welcome_right {
  width: 199.89px;
  height: auto;
  margin-left: 15%;
}
