.what-we-do-area {
  width: 100%;
  height: auto;
  margin-top: 10%;
}

.whatwedo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.whatwedo-left {
  width: 55%;
}

.css-style-sample {
  width: 100%;
  height: auto;
  border: 1px solid;
  border-radius: 5px;
}

.css-style-titlebar {
  display: flex;
  width: 100%;
  aspect-ratio: 15;
  border: 1px solid;
  align-items: center;
  justify-content: space-between;
}

.css-style-main {
  width: 100%;
  background-color: #4e1a0e;
  margin: 0;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-main-textarea {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
}

.css-main-textarea p {
  margin: 0;
}

.red-color {
  color: #c0723f;
}

/* .white-color {
  color: #ffffff;
} */

.blue-color {
  color: #29abca;
}

.whatwedo-second-right {
  width: 45%;
}

.second-right-textarea {
  width: 100%;
  text-decoration: underline;
}

.second-right-textarea .lgh4 {
  padding-left: 5%;
}

.lgh4-last-bottom-margin {
  margin-bottom: 15%;
}

.seeall {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seeall-textarea {
  width: 20%;
  padding-left: 5%;
}

.seeall-image {
  width: 50%;
  height: auto;
  margin-right: -8%;
}

.seeall-image img {
  width: 80%;
  height: auto;
}
