.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #431a0e;
  top: 0;
  left: 0;
  right: 0;
}

.header .lgh4 {
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;

  padding-top: 28px;
}

.header-right {
  display: flex;
  gap: 20px;
}

.header-right p {
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.header-right p:hover {
  color: lightgreen;
}

.active-link {
  color: red;
}

.stickey {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
