:root {
  color-scheme: light dark;
  color: #4e1a0e;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --aspect-ratio: 1;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: auto;
}

.lgh1 {
  font-size: 84px;
  line-height: 84px;
  font-weight: 400;
  font-style: normal;
}

.lgh2 {
  font-size: 64px;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
}

.lgh3 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 400;
  font-style: normal;
}

.lgh4 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
}

.lgh5 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
}

.p1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
}

.p2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.p3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.p4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
}

.p5 {
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  color: #fff;
}
