:root {
  font-family: Vulf Sans Demo, DM Mono;
  font-weight: 400;

  color-scheme: light dark;
  color: #4e1a0e;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
}

body {
  padding: 0 5%;
}

h1 {
  font-size: 84px;
  line-height: 84px;
}

h2 {
  font-size: 64px;
  line-height: 93.5px;
  font-family: ;
}

h3 {
  font-size: 48px;
  line-height: 64px;
}

h4 {
  font-size: 34px;
  line-height: 40px;
}

.p1 {
  font-size: 20px;
  line-height: 28px;
}

.p2 {
  font-size: 16px;
  line-height: 24px;
}

.p3 {
  font-size: 14px;
  line-height: 20px;
}
